In [12]:
import pandas as pd

df = pd.DataFrame({
    'name': ['John', 'John', 'Jake', 'Lenny', 'Lenny', 'Lenny'],
    'book': ['book 1', 'book 2', 'book 3', 'book 1', 'book 2', 'book 3']
})

set1 = set(df['name'])

dict1 = {i:list(df['name']).count(i) for i in set1}
print(dict1)
dict2 = {i:dict1[i] for i in dict1 if dict1[i] > 1}
print(dict2)

df2 = df[df['name'].isin(dict2)]
df2

{'Jake': 1, 'Lenny': 3, 'John': 2}
{'Lenny': 3, 'John': 2}

    name    book
0   John  book 1
1   John  book 2
3  Lenny  book 1
4  Lenny  book 2
5  Lenny  book 3

In [8]:
for i in dict1:
    print(i)

Jake
Lenny
John